---
layout: page
title: "About"
description: "Hey, this is XiaoDong."
header-img: "img/about-bg1.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        写写代码，看看动漫。
        世界那么大，我只想宅在家~
    </blockquote>
    大家好，我叫王晓东，热爱动漫，编程！喜欢新技术！
    <br><br>我做过3D打印，机器人，现在又转方向为计算机编程……
    <br><br>我的人生格言是：人生苦短，只要活着，就一定要奋笔疾书！
    <br><br>本人宅男一枚，不善交流~

    <p style="text-align:right;">
        —— <a target="_blank" href="http://blog.csdn.net/qq_19528953">我的CSDN博客地址，欢迎访问 </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Write code, look at anime. The world is so big, I just want to stay at home~
    </blockquote>

    <p>
        Hi guys, my name is XiaoDong Wang, a Chinese who is very interested in animation and program. 
    </p>

    <p>
        My life motto is: Life is short, so long as you live, you must try to write!
    </p>
    
    <p>
        I've done 3D printing and robotics, and now I'm turning to computers. 
    </p>
    
    <p>
        I am very sedentary, moderate social phobic, uncommunicative, and do not participate in any social activities.
    </p>
    
    <p>
        So don't contact me in person please...
    </p>

    <p style="text-align:right;">
        —— <a target="_blank" href="http://blog.csdn.net/qq_19528953">My CSDN blog address, welcome to visit. </a>
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
