<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keyword"  content="{{ site.keyword }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- Hux Delete, sad but pending in China
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/
    css'>
    -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- 下面的Script可以使得Latex语法在博客中可以使用 -->
    <script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <!-- 下面是可以使用悬浮回到顶部的样式和js -->
    <style type="text/css">    
        *{
            margin: 0;
            padding: 0;
        }
        .box {
            width:1000px;
            margin:  0  auto;
        }
        #btn {
            width:40px;
            height: 40px;
            position:fixed;
            left:50%;
            bottom:30px;
            background:url(./img/XX.jpg)  no-repeat  left top ;
            margin-left: 610px;
        }
        #btn:hover {
            background:url(./img/XX.jpg)  no-repeat  left -40px;
        }  
    </style>  
    <script type="text/javascript">
        indow.onload = function () {
            var topbtn = document.getElementById("btn");
            var timer = null;<br>    //获取屏幕的高度
            var pagelookheight = document.documentElement.clientHeight;
         
            window.onscroll = function(){
                //滚动超出高度，显示按钮，否则隐藏
                var backtop = document.body.scrollTop;<br>           //  滚动超过一频    应该显示
                if(backtop >= pagelookheight){
                    topbtn.style.display = "block";
                }<br>      //   不显示<br>       else{
                    topbtn.style.display = "none";
                }
            }
         
            topbtn.onclick = function () {<br>         timer = setInterval(function () {
                    var backtop = document.body.scrollTop;  <br>              //速度操作  减速
                    var speedtop = backtop/5;  
                    document.body.scrollTop = backtop -speedtop;  //高度不断减少
                    if(backtop ==0){  //滑动到顶端
                        clearInterval(timer);  //清除计时器
                    }
                }, 30);
            }
        }
    </script>
</head>
